/*
###-------------------------------------------------------------------
### File    : bw.css
### Author  : Aleksey Morarash <aleksey.morarash@gmail.com>
### Created : 18 Feb 2012
### License : FreeBSD
### Description : web pages style definitions
###
###-------------------------------------------------------------------
*/

body, td, p, div, span, form, input, textarea, select, button, h1, h2 {
    margin: 0;
    padding: 0;
    font-family: verdana, arial;
}

body {
    margin-top: 10;
    margin-bottom: 10;
    background-color: white;
}

a {
    color: black;
    text-decoration: underline;
}

td.wc, td.bc, td.crd_t, td.crd_b, td.crd_l, td.crd_r {
    text-align: center;
    vertical-align: middle;
    cursor: default;
}

td.wc, td.bc {
    height: 40;
    width: 40;
}

td.captures {
    font-size: 30px;
}

td.bc {
    background-color: #808080;
}

td.wc {
    background-color: white;
}

div.cell, div.lastply, div.ply, div.hint {
    background-color: transparent;
    height: 38;
    width: 38;
    font-size: 30px;
    text-align: center;
}

div.cell {
    border-width: 0;
    border-style: none;
}

div.lastply {
    border-color: black;
    border-width: 1;
    border-style: solid;
}

div.ply {
    border-color: black;
    border-width: 2;
    border-style: solid;
}

div.hint {
    border-color: black;
    border-width: 2;
    border-style: dotted;
}

td.crd_t, td.crd_b {
    height: 20;
}

td.crd_l, td.crd_r {
    width: 20;
}

td.crd_t { border-width:1; border-bottom-style: solid; }
td.crd_r { border-width:1; border-left-style: solid; }
td.crd_b { border-width:1; border-top-style: solid; }
td.crd_l { border-width:1; border-right-style: solid; }

.error {
    font-weight: bold;
}

.warning {
    font-weight: bold;
}

td.hbc {
    width: 20%;
}

input.hb {
    width: 100%;
}

