/*
###-------------------------------------------------------------------
### File    : default.css
### Author  : Aleksey Morarash <aleksey.morarash@gmail.com>
### Created : 21 Jan 2012
### License : FreeBSD
### Description : web pages style definitions
###
###-------------------------------------------------------------------
*/

body, td, p, div, span, form, input, textarea, select, button, h1, h2 {
    margin: 0;
    padding: 0;
    font-family: verdana, arial;
}

body {
    margin-top: 10;
    margin-bottom: 10;
    background-color: #abcdef
}

a {
    color: navy;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

td.wc, td.bc, td.crd_t, td.crd_b, td.crd_l, td.crd_r {
    text-align: center;
    vertical-align: middle;
    cursor: default;
}

td.wc, td.bc {
    height: 40;
    width: 40;
    border-width: 0;
}

td.captures {
    background-color: #808080;
    font-size: 30px;
}

td.bc {
    background-color: #505050;
}

td.wc {
    background-color: #aaaaaa;
}

div.cell, div.lastply, div.ply, div.hint {
    background-color: transparent;
    height: 38;
    width: 38;
    font-size: 30px;
    text-align: center;
}

div.cell {
    border-width: 0;
    border-style: none;
}

div.lastply {
    border-color: red;
    border-width: 1;
    border-style: solid;
}

div.ply {
    border-color: yellow;
    border-width: 1;
    border-style: solid;
}

div.hint {
    border-color: magenta;
    border-width: 1;
    border-style: solid;
}

td.crd_t, td.crd_b {
    height: 20;
}

td.crd_l, td.crd_r {
    width: 20;
}

.error {
    font-weight: bold;
    color: red;
}

.warning {
    font-weight: bold;
    color: orange;
}

td.hbc {
    width: 20%;
}

input.hb {
    width: 100%;
}

