#!/usr/bin/make -f
# -*- makefile -*-

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@ --with systemd

# Build the echessd binary and docs.
# Also all tests available will run here BEFORE the build because
# during tests 'clean' target is called (debhelper runs
# the dh_auto_test target after the dh_auto_build target).
override_dh_auto_build:
	$(MAKE) clean echessd html

# Do not run any tests after the build
# (see override_dh_auto_build comment for details)
override_dh_auto_test:
